{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context %}
{% import 'admin/model/layout.html' as model_layout with context %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block body %}
	<h2>Dashboard</h2>
	{% block model_menu_bar %}
	{% endblock %}

	{% block model_list_table %}
		<table class='table table-striped table-bordered table-hover model-list'>
			<thead>
				<tr>
					<th class='column-header'>Name</th>
					<th class='column-header'>Most Recent Run</th>
					<th class='column-header'>Scrapes Completed</th>
					<th class='column-header'>Next Scheduled</th>
				</tr>
			</thead>

			{% for dag in data %}
				<tr>
					<td>{{ dag.name }}</td>
					<td>{{ dag.state }}</td>
					<td>
					{% for ti in dag.scrapes_completed %}
						{{ ti.task_id }}: {{ ti.state }} <br />
					{% endfor %}
					</td>
					<td>date of next scheduled run</td>
				</tr>
			{% endfor %}
		</table>
	{% endblock %}

{% endblock %}

{% block tail %}
	{{ super() }}
	<script src='{{ admin_static.url(filename="admin/js/filters.js") }}'></script>
	{{ lib.form_js() }}
{% endblock %}
