{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context %}
{% import 'admin/model/layout.html' as model_layout with context %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  <h2>Dashboard</h2>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
        <div style='margin-bottom: 1em'>
          <h4>
            <i class="fa fa-book"></i>
            Bills ({{ data.bills_in_db }} Total)
          </h4>
          <li><strong>Last Bill Run: </strong>
            {% if data.bill_last_run %}
              {{ data.bill_last_run.dag_id }} at {{ data.bill_last_run_time.pst_time }} PST ({{ data.bill_last_run_time.cst_time }} CST)
            {% else %}
              No Bill Scrapes Completed
            {% endif %}
          </li>
          <li><strong>Upcoming Bill Run: </strong>
            {% if data.bill_next_run %}
              {{ data.bill_next_run.dag_id }} at {{ data.bill_next_run_time.pst_time }} PST ({{ data.bill_next_run_time.cst_time }} CST)
            {% else %}
              No Bill Scrapes Scheduled
            {% endif %}
          </li>
          <li><strong>Bills in Search Index: </strong>{{ data.bills_in_index }}</li>
        </div>
      </div>

      <div class='col-sm-6'>
        <div style='margin-bottom: 1em'>
          <h4>
            <i class="fa fa-calendar-alt"></i>
            Events ({{ data.events_in_db }} Total)
          </h4>
          <li><strong>Last Event Run: </strong>
            {% if data.event_last_run %}
              {{ data.event_last_run.dag_id }} at {{data.event_last_run_time.pst_time }} PST ({{ data.bill_last_run_time.cst_time }} CST)
            {% else %}
              No Event Scrapes Completed
            {% endif %}
          </li>
          <li><strong>Upcoming Event Run: </strong>
            {% if data.event_next_run %}
              {{ data.event_next_run.dag_id }} at {{ data.event_next_run_time.pst_time }} PST ({{ data.event_next_run_time.cst_time }} CST)
            {% else %}
              No Event Scrapes Scheduled
            {% endif %}
          </li>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />


  {% block model_list_table %}
    <table class='table table-striped table-bordered table-hover model-list' id='dashboard-table'>
      <thead>
        <tr>
          <th class='column-header'>Name (Hover for Description)</th>
          <th class='column-header'>Most Recent Run Status</th>
          <th class='column-header'>Most Recent Run Date</th>
          <th class='column-header'>Next Scheduled</th>
        </tr>
      </thead>

      {% for dag in data.data %}
        <tr>
          <td><span data-toggle="tooltip" data-placement="top" title="{{ dag.description }}"><strong>{{ dag.name }}</strong></span><br />
          </td>
          {% if dag.run_state == 'failed' %}
            <td class="text-center"><span style="color: red"><i class="fas fa-times-circle"></i><br />Failed</span></td>
          {% elif dag.run_state == 'success' %}
            <td class="text-center"><span style="color: green"><i class="fas fa-check-circle"></i><br />Succeeded</span></td>
          {% elif dag.run_state == 'running' %}
            <td class="text-center"><i class="fa fa-spinner fa-spin"></i><br />Running</td>
          {% else %}
            <td class="text-center">{{ dag.run_state or '' }}</td>
          {% endif %}

          {% if dag.run_date != None %}
            <td>{{ dag.run_date.pst_time }} PST<br /> {{ dag.run_date.cst_time }} CST</td>
          {% else %}
            <td></td>
          {% endif %}
          {% if dag.next_scheduled != None %}
            <td>{{ dag.next_scheduled.pst_time }} PST<br /> {{ dag.next_scheduled.cst_time }} CST</td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% endblock %}

{% endblock %}

{% block tail %}
  {{ super() }}
  <link href="/a{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
  <script src="/a{{ url_for('static', filename='js/datatables.min.js') }}"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.navbar-header a.navbar-brand').attr('href', '/admin/dashboard/')
      $('.navbar-nav').hide()
      $('.navbar-right').show()

      $('.description-text').hide()

      $('#dashboard-table').DataTable({
        "order": [[2, "desc"]],
        "table-layout": "fixed",
        "columnDefs": [
            { "width": 300, "targets": 0 }
        ],
        "fixedColumns": true
      });
      
    });

  </script>
  {{ lib.form_js() }}
{% endblock %}
